### NODEJS
node_modules/

#### IDEA intellij #####
.idea/
*.iml
*.iws

#### Terraform ####
terraform/.terraform*
terraform/terraform.tfstate*
terraform/terraform_backend.tf

#### Local files ####
.data/

