swagger: "2.0"
info:
  version: "1.0.0"
  title: "Badge Parking API"
host: "bage.io"
basePath: "/"
tags:
- name: "badge"
  description: "Interactions with badges "
- name: "location"
  description: "Location endpoints of dashboard screen device"
schemes:
- "http"
paths:
  /badge:
    post:
      tags:
      - "badge"
      summary: "Store badge image"
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        name: badge
        type: file
        required: true
        description: The file to upload
      - in: formData
        name: name
        type: string
        required: true
        description: Badge name
      - in: formData
        name: lat
        type: string
        required: true
        description: Location latitude
      - in: formData
        name: long
        type: string
        required: true
        description: Location longitude
      - in: formData
        name: is_default
        type: boolean
        required: false
        description: Consider given badge image as default
      responses:
        201:
          description: "Image added"
          schema:
            $ref: "#/definitions/Badge"
        405:
          description: "Invalid input"
    get:
      tags:
      - "badge"
      summary: "Returns list of all available badges"
      produces:
      - "application/json"
      responses:
        200:
          description: "Successful response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Badge"
        404:
          description: "No such image"
  /badge/{id}:
    get:
      tags:
      - "badge"
      summary: "Returns badge metadata"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of badge"
        required: true
        type: "string"
      responses:
        200:
          description: "Badge data"
          schema:
              $ref: "#/definitions/Badge"
        404:
          description: "No such badge"
    put:
      tags:
      - "badge"
      summary: "Updates badge data"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of badge"
        required: true
        type: "string"
      - name: "name"
        in: "formData"
        description: "Badge name"
        required: true        
        type: "string"
      - name: "lat"
        in: "formData"
        description: "Location latitude"        
        required: true
        type: "string"
      - name: "long"
        in: "formData"
        description: "Location longitude"        
        required: true
        type: "string"
      responses:
        200:
          description: "Badge data"
          schema:
              $ref: "#/definitions/Badge"
        404:
          description: "No such badge"
  /dashboard:
    get:
      tags:
      - "badge"
      summary: "Returns badge image metadata for the current location"
      produces:
      - image/png
      responses:
        200:
          description: "Badge data"
          schema:
              $ref: "#/definitions/Badge"
        404:
          description: "No such badge"
  /location:
    post:
      tags:
      - "location"
      summary: "Aknowledge badge app server about badge device location"
      produces:
      - "application/json"
      parameters:
      - name: "lat"
        in: "query"
        description: "latitude of badge device location"
        required: true
        type: "string"
      - name: "long"
        in: "query"
        description: "longitude of badge device location"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful response"
    get:
      tags:
      - "location"
      summary: "Returns current location of the badge screen"
      produces:
      - "application/json"      
      responses:
        200:
          description: "Badge screen location info"
          schema:
              $ref: "#/definitions/Location"
  /receipt:
    delete:
      tags:
      - "receipt"
      summary: "Removes current receipt"
      produces:
      - "application/json"
      responses:
        200:
          description: "Successful response"
definitions:
  Badge:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      createed_at: 
        type: "string"
        format: "date-time"
        description: "Date in UTC when badge was created"
      location:        
        type: "string"
        description: "Physical location of the badge image"
      lat:
        type: "string"
        description: "Latitude of the badge"
      long:
        type: "string"
        description: "Longitude of the badge"
  Location:
    type: "object"
    properties:   
      lat: 
        type: "number"
        description: "Latitude of badge screen" 
      long: 
        type: "number"
        description: "Longitude of badge screen" 
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"